.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.home-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.home-button {
  margin-top: 10px;
}



.form-container{
  background: none;
}


.form-group {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.form-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-field-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: -8px;
  margin-bottom: 8px;
}

.form-button {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #36d7b7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #2bb197;
}

@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }

  .form-image {
    width: 90%;
  }

  .form-button {
    width: 90%;
  }
}